# isolated environment using direnv, similar with venv
# read more: https://direnv.net/
layout pyenv 3.11.6
export PYTHONPATH=.direnv/python-3.11/lib/python3.11/site-packages
export PYTHONPATH="${PYTHONPATH}:${PWD}"
export DOCKER_DEFAULT_PLATFORM=linux/amd64
